<div style="display: flex; flex-direction: column">
  <span>${msg("{{title_case field_name}}")}</span>

  ${this._{{camel_case field_name}}Fields.map((id) => html`<div class="row">{{> (concat field_type.type "/" widget "/edit/render") edit=edit field_name=field_name }} <sl-icon-button .src=${wrapPathInSvg(mdiDelete)} @click=${this._{{camel_case field_name}}Fields = this._{{camel_case field_name}}Fields.filter(i => i !== id)}></sl-icon-button></div>}`)}
  <sl-button @click=${() => { this._{{camel_case field_name}}Fields = [...this._{{camel_case field_name}}Fields, Math.max(...this._{{camel_case field_name}}Fields) + 1]; } }>${msg("Add {{title_case field_name}}")}</sl-button>
</div>
